In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [6]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT
            Facilities.name,
            SUM(CASE 
                WHEN Bookings.memid = 0 then guestcost * slots
                WHEN Bookings.memid <> 0 then membercost  * slots
            END) AS cost
        FROM Bookings
        JOIN Facilities ON Bookings.facid = Facilities.facid
        GROUP BY Bookings.facid
        HAVING cost < 1000
        ORDER BY cost DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print('Facilities with total revenue less than $1000')
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Facilities with total revenue less than $1000
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT
            mem.firstname || ' ' || mem.surname AS mem_name,
            rec.firstname || ' ' || rec.surname AS recommender_name
        FROM Members mem
        JOIN Members rec ON mem.recommendedby = rec.memid
        ORDER BY mem.surname, mem.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print('Members and who recommmended them')
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Members and who recommmended them
('Florence Bader', 'Ponder Stibbons')
('Anne Baker', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('Tim Boothe', 'Tim Rownam')
('Gerald Butters', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Erica Crumpet', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Matthew Genting', 'Gerald Butters')
('John Hunt', 'Millicent Purview')
('David Jones', 'Janice Joplette')
('Douglas Jones', 'David Jones')
('Janice Joplette', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('David Pinker', 'Jemima Farrell')
('Millicent Purview', 'Tracy Smith')
('Henrietta Rumney', 'Matthew Genting')
('Ramnaresh Sarwin', 'Florence Bader')
('Jack Smith', 'Darren Smith')
('Ponder Stibbons', 'Burton Tracy')
('Henry Worthington-Smyth', 'Tracy Smith')

In [11]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT 
            firstname || ' ' || surname AS mem_name,
            Facilities.name,
            SUM(CASE 
                WHEN Bookings.memid <> 0 then slots
            END) AS usage 
        FROM Members
        INNER JOIN Bookings ON Bookings.memid = Members.memid
        INNER JOIN Facilities ON Bookings.facid = Facilities.facid
        WHERE Bookings.memid <> 0
        GROUP BY mem_name, Facilities.name
        ORDER BY Facilities.name, surname, firstname 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print('Members and how often they use each facility')
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Members and how often they use each facility
('Florence Bader', 'Badminton Court', 27)
('Anne Baker', 'Badminton Court', 30)
('Timothy Baker', 'Badminton Court', 21)
('Tim Boothe', 'Badminton Court', 36)
('Gerald Butters', 'Badminton Court', 63)
('Erica Crumpet', 'Badminton Court', 6)
('Nancy Dare', 'Badminton Court', 30)
('Jemima Farrell', 'Badminton Court', 21)
('John Hunt', 'Badminton Court', 6)
('David Jones', 'Badminton Court', 24)
('Douglas Jones', 'Badminton Court', 6)
('Anna Mackenzie', 'Badminton Court', 96)
('Charles Owen', 'Badminton Court', 18)
('David Pinker', 'Badminton Court', 21)
('Millicent Purview', 'Badminton Court', 6)
('Tim Rownam', 'Badminton Court', 12)
('Ramnaresh Sarwin', 'Badminton Court', 21)
('Darren Smith', 'Badminton Court', 432)
('Jack Smith', 'Badminton Court', 36)
('Tracy Smith', 'Badminton Court', 102)
('Ponder Stibbons', 'Badminton Court', 48)
('Burton Tracy', 'Badminton Court', 6)
('Hyacinth Tupperware', 'Badminton Court', 3)
('Henry Worthington-Smyth', 'Badminton Court', 15)
('Anne Baker', 'Massage Room 1', 6)
('Timothy Baker', 'Massage Room 1', 50)
('Tim Boothe', 'Massage Room 1', 76)
('Gerald Butters', 'Massage Room 1', 66)
('Joan Coplin', 'Massage Room 1', 2)
('Erica Crumpet', 'Massage Room 1', 4)
('Nancy Dare', 'Massage Room 1', 38)
('Jemima Farrell', 'Massage Room 1', 68)
('Matthew Genting', 'Massage Room 1', 52)
('John Hunt', 'Massage Room 1', 6)
('David Jones', 'Massage Room 1', 40)
('Janice Joplette', 'Massage Room 1', 24)
('Anna Mackenzie', 'Massage Room 1', 2)
('Charles Owen', 'Massage Room 1', 22)
('David Pinker', 'Massage Room 1', 6)
('Tim Rownam', 'Massage Room 1', 176)
('Ramnaresh Sarwin', 'Massage Room 1', 16)
('Darren Smith', 'Massage Room 1', 58)
('Jack Smith', 'Massage Room 1', 54)
('Tracy Smith', 'Massage Room 1', 12)
('Ponder Stibbons', 'Massage Room 1', 40)
('Burton Tracy', 'Massage Room 1', 62)
('Hyacinth Tupperware', 'Massage Room 1', 2)
('Henry Worthington-Smyth', 'Massage Room 1', 2)
('Florence Bader', 'Massage Room 2', 4)
('Anne Baker', 'Massage Room 2', 4)
('Gerald Butters', 'Massage Room 2', 2)
('Joan Coplin', 'Massage Room 2', 4)
('Nancy Dare', 'Massage Room 2', 10)
('Matthew Genting', 'Massage Room 2', 2)
('David Jones', 'Massage Room 2', 8)
('Janice Joplette', 'Massage Room 2', 4)
('Charles Owen', 'Massage Room 2', 4)
('Tim Rownam', 'Massage Room 2', 4)
('Ramnaresh Sarwin', 'Massage Room 2', 6)
('Jack Smith', 'Massage Room 2', 2)
('Florence Bader', 'Pool Table', 23)
('Anne Baker', 'Pool Table', 12)
('Timothy Baker', 'Pool Table', 95)
('Tim Boothe', 'Pool Table', 26)
('Gerald Butters', 'Pool Table', 6)
('Joan Coplin', 'Pool Table', 11)
('Nancy Dare', 'Pool Table', 19)
('David Farrell', 'Pool Table', 25)
('Jemima Farrell', 'Pool Table', 1)
('Matthew Genting', 'Pool Table', 18)
('David Jones', 'Pool Table', 8)
('Douglas Jones', 'Pool Table', 2)
('Janice Joplette', 'Pool Table', 27)
('Anna Mackenzie', 'Pool Table', 83)
('Charles Owen', 'Pool Table', 1)
('David Pinker', 'Pool Table', 9)
('Millicent Purview', 'Pool Table', 5)
('Tim Rownam', 'Pool Table', 282)
('Henrietta Rumney', 'Pool Table', 3)
('Ramnaresh Sarwin', 'Pool Table', 13)
('Darren Smith', 'Pool Table', 28)
('Jack Smith', 'Pool Table', 7)
('Tracy Smith', 'Pool Table', 64)
('Ponder Stibbons', 'Pool Table', 12)
('Burton Tracy', 'Pool Table', 30)
('Hyacinth Tupperware', 'Pool Table', 9)
('Henry Worthington-Smyth', 'Pool Table', 37)
('Florence Bader', 'Snooker Table', 66)
('Tim Boothe', 'Snooker Table', 90)
('Gerald Butters', 'Snooker Table', 72)
('Joan Coplin', 'Snooker Table', 20)
('Nancy Dare', 'Snooker Table', 46)
('David Farrell', 'Snooker Table', 2)
('Jemima Farrell', 'Snooker Table', 44)
('Matthew Genting', 'Snooker Table', 2)
('David Jones', 'Snooker Table', 4)
('Janice Joplette', 'Snooker Table', 142)
('Anna Mackenzie', 'Snooker Table', 14)
('Charles Owen', 'Snooker Table', 44)
('David Pinker', 'Snooker Table', 32)
('Millicent Purview', 'Snooker Table', 2)
('Henrietta Rumney', 'Snooker Table', 28)
('Ramnaresh Sarwin', 'Snooker Table', 36)
('Darren Smith', 'Snooker Table', 24)
('Jack Smith', 'Snooker Table', 10)
('Tracy Smith', 'Snooker Table', 90)
('Ponder Stibbons', 'Snooker Table', 40)
('Burton Tracy', 'Snooker Table', 40)
('Hyacinth Tupperware', 'Snooker Table', 12)
('Florence Bader', 'Squash Court', 4)
('Anne Baker', 'Squash Court', 110)
('Timothy Baker', 'Squash Court', 10)
('Tim Boothe', 'Squash Court', 24)
('Gerald Butters', 'Squash Court', 18)
('Joan Coplin', 'Squash Court', 2)
('David Farrell', 'Squash Court', 2)
('Jemima Farrell', 'Squash Court', 16)
('John Hunt', 'Squash Court', 2)
('David Jones', 'Squash Court', 16)
('Douglas Jones', 'Squash Court', 2)
('Janice Joplette', 'Squash Court', 30)
('Anna Mackenzie', 'Squash Court', 4)
('Charles Owen', 'Squash Court', 14)
('David Pinker', 'Squash Court', 6)
('Millicent Purview', 'Squash Court', 2)
('Henrietta Rumney', 'Squash Court', 4)
('Ramnaresh Sarwin', 'Squash Court', 4)
('Darren Smith', 'Squash Court', 30)
('Jack Smith', 'Squash Court', 22)
('Tracy Smith', 'Squash Court', 12)
('Ponder Stibbons', 'Squash Court', 4)
('Burton Tracy', 'Squash Court', 78)
('Hyacinth Tupperware', 'Squash Court', 2)
('Florence Bader', 'Table Tennis', 86)
('Anne Baker', 'Table Tennis', 2)
('Timothy Baker', 'Table Tennis', 48)
('Tim Boothe', 'Table Tennis', 8)
('Gerald Butters', 'Table Tennis', 2)
('Joan Coplin', 'Table Tennis', 46)
('Erica Crumpet', 'Table Tennis', 4)
('Nancy Dare', 'Table Tennis', 10)
('Jemima Farrell', 'Table Tennis', 24)
('Matthew Genting', 'Table Tennis', 54)
('John Hunt', 'Table Tennis', 2)
('David Jones', 'Table Tennis', 22)
('Janice Joplette', 'Table Tennis', 18)
('Anna Mackenzie', 'Table Tennis', 32)
('Charles Owen', 'Table Tennis', 50)
('David Pinker', 'Table Tennis', 34)
('Millicent Purview', 'Table Tennis', 14)
('Tim Rownam', 'Table Tennis', 150)
('Ramnaresh Sarwin', 'Table Tennis', 6)
('Darren Smith', 'Table Tennis', 56)
('Jack Smith', 'Table Tennis', 10)
('Tracy Smith', 'Table Tennis', 56)
('Ponder Stibbons', 'Table Tennis', 6)
('Burton Tracy', 'Table Tennis', 48)
('Henry Worthington-Smyth', 'Table Tennis', 6)
('Florence Bader', 'Tennis Court 1', 3)
('Anne Baker', 'Tennis Court 1', 18)
('Timothy Baker', 'Tennis Court 1', 45)
('Tim Boothe', 'Tennis Court 1', 12)
('Gerald Butters', 'Tennis Court 1', 171)
('Joan Coplin', 'Tennis Court 1', 21)
('Erica Crumpet', 'Tennis Court 1', 3)
('Nancy Dare', 'Tennis Court 1', 81)
('David Farrell', 'Tennis Court 1', 18)
('Jemima Farrell', 'Tennis Court 1', 3)
('Matthew Genting', 'Tennis Court 1', 3)
('John Hunt', 'Tennis Court 1', 12)
('David Jones', 'Tennis Court 1', 84)
('Douglas Jones', 'Tennis Court 1', 27)
('Janice Joplette', 'Tennis Court 1', 57)
('Charles Owen', 'Tennis Court 1', 51)
('David Pinker', 'Tennis Court 1', 51)
('Tim Rownam', 'Tennis Court 1', 18)
('Ramnaresh Sarwin', 'Tennis Court 1', 15)
('Jack Smith', 'Tennis Court 1', 75)
('Tracy Smith', 'Tennis Court 1', 93)
('Ponder Stibbons', 'Tennis Court 1', 3)
('Burton Tracy', 'Tennis Court 1', 93)
('Florence Bader', 'Tennis Court 2', 24)
('Anne Baker', 'Tennis Court 2', 114)
('Timothy Baker', 'Tennis Court 2', 21)
('Tim Boothe', 'Tennis Court 2', 168)
('Gerald Butters', 'Tennis Court 2', 9)
('Nancy Dare', 'Tennis Court 2', 33)
('David Farrell', 'Tennis Court 2', 3)
('Jemima Farrell', 'Tennis Court 2', 3)
('John Hunt', 'Tennis Court 2', 12)
('David Jones', 'Tennis Court 2', 99)
('Janice Joplette', 'Tennis Court 2', 24)
('Charles Owen', 'Tennis Court 2', 141)
('Millicent Purview', 'Tennis Court 2', 3)
('Tim Rownam', 'Tennis Court 2', 18)
('Henrietta Rumney', 'Tennis Court 2', 3)
('Ramnaresh Sarwin', 'Tennis Court 2', 36)
('Darren Smith', 'Tennis Court 2', 57)
('Jack Smith', 'Tennis Court 2', 3)
('Tracy Smith', 'Tennis Court 2', 6)
('Ponder Stibbons', 'Tennis Court 2', 96)
('Burton Tracy', 'Tennis Court 2', 9)

In [13]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT 
            Facilities.name,
            strftime('%m', starttime) AS month,
            SUM(slots) as usage
        FROM Bookings
        INNER JOIN Facilities ON Bookings.facid = Facilities.facid
        WHERE Bookings.memid <> 0
        GROUP BY month, Facilities.name
        ORDER BY Facilities.name, month 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print('How often each facility was used per month')
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

How often each facility was used per month
('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)